# Sécurité
JWT_SECRET="votre_secret_tres_long_ici"

# Email (SMTP)
SMTP_USER="votre-email@gmail.com"
SMTP_PASS="votre-mot-de-passe-d-application"

# Configuration Frontend (EmailJS)
VITE_EMAILJS_SERVICE_ID=""
VITE_EMAILJS_TEMPLATE_ID=""
VITE_EMAILJS_PUBLIC_KEY=""

# Admin
VITE_ADMIN_EMAIL="sodjagatecommande@gmail.com"
